<h1>Discover brand new cocktails</h1>

<div class="cards">
  <% @cocktails.each do |c| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path c.photo.url %>')">
    <%= link_to(c.name, cocktail_path(c)) %>
  </div>
  <% end %>
</div>

