.main-container {
  max-width: 90vw;
  margin: 0 auto;
}

.show-container {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 80vw;
}

.list-container {
  flex: 0 0 50%;
}

.form-container {
  flex: 0 0 30%;
}
