.main-container {
  max-width: 90vw;
  margin: 0 auto;
}

.show-container {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 85vw;
}

.list-container {
  flex: 0 0 30%;
  background-color: rgba(250,250,250,0.5);
}

.form-container {
  flex: 0 0 30%;
  background-color: rgba(250,250,250,0.2);
}

.review-container {
  flex: 0 0 35%;
  background-color: rgba(250,250,250,0.2);
}

.cocktail-container {
  margin: 0 auto;
  max-width: 40vw;
  background-color: rgba(250,250,250,0.2);
}


