.list-group {
  margin-bottom: 20px;
  background-color: none;
  background-color: rgba(250,250,250,0.5);
}

.list-group-item {
  border: none;
  display: flex;
  justify-content: space-between;
  background-color: rgba(250,250,250,0.5);
}
